@use 'sass:math';

@mixin spinner-customizer($size: 1em, $color: $text-color) {
  width: $size;
  height: $size;
  border-style: solid;
  border-color: transparentize($color, 0.8);
  border-left-color: $color;
  border-width: calc(#{$size} / 8);
  border-radius: 50%;
}
