.chat-preview {
  padding: 1rem var(--section-pad-x-generic);
  transition: background-color $transition-duration;
}
a.chat-preview {
  @include non-selectable;
}
a.chat-preview:hover,
.chat-preview.is-current {
  transition: none;
  background-color: $brand-color-light;
}
.chat-preview_compact {
  padding: 0;
  background-color: transparent;
}

.chat-preview__content {
  position: relative;
}
.chat-preview_compact .chat-preview__content {
  align-self: center;
}

.chat-preview__head,
.chat-preview__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.chat-preview__head {
  -webkit-line-clamp: 1;
}
// `body` — для переопределения стилей заголовков (`h5.heading`)
body .chat-preview__head {
  margin-bottom: 0;
}
.chat-preview_compact .chat-preview__head {
  @include break-word;

  position: relative;
  top: -.1em;
  -webkit-line-clamp: 2;
}
.chat-preview__txt {
  min-height: $line-height-primary * 2em; // всегда держать высоту блока одинаковой
  -webkit-line-clamp: 2;
}


.chat-preview__content-row {
  display: flex;
}
.chat-preview__content-slot {
  margin-right: 1.5rem;
}
.chat-preview_compact .chat-preview__content-slot {
  margin-right: 1rem;
}
.chat-preview__content-slot ~ .chat-preview__content-slot:last-child {
  white-space: nowrap;
  margin-left: auto;
  margin-right: 0;
}

.chat-preview__content-slot_date {
  // выравнивание с заголовком
  margin-top: .25rem;
}
.chat-preview__content-slot_unread {
  // выравнивание по низу блока
  margin-top: auto;
}
