{{!
  Всегда следует добавлять атрибут `_ctx` как первый аргумент при вызове — это сотрёт родительский контекст,
  и позволит использовать локально любые переменные, не боясь пересечение с глобальными.
  https://github.com/handlebars-lang/handlebars.js/issues/1032
  https://github.com/handlebars-lang/handlebars.js/issues/1550

  Если есть непустой локальный контекст, можно использовать его вместо `_ctx`
}}
<span class="{{class}} badge">
  {{value}}
</span>