@use 'sass:math';

.input,
.input__field,
.input__hint,
.input__error {
  box-sizing: border-box;
}

.input {
  position: relative;
}
.input[data-display="inline"] {
  display: inline-flex;
  flex-wrap: wrap;
}

.input__field {
  @include field-base;
  @include field-skin;

  display: block;
  width: 100%;

  // https://stackoverflow.com/questions/2918707/turn-off-iphone-safari-input-element-rounding
  -webkit-appearance: none;
  border-radius: 0;

  cursor: text;
}
textarea.input__field:not([data-fixed]) {
  height: auto;
}
.input[data-display="inline"] > .input__field {
  flex-grow: 0;
  flex-shrink: 0;
}
.has-error > .input__field {
  @include field_invalid;
}
.input__field:disabled {
  @include disabled;
}

.input__hint,
.input__field::placeholder {
  color: $field-placeholder-color;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.input__field_float::placeholder {
  color: transparent;
}

$input-hint-float-scale: .85;
$input-hint-float-shift: math.div($field-line-height, 2) * 1em;
$input-hint-font-size: $field-font-size;
@mixin input-field-transform($gap-x) {
  transform:
    scale($input-hint-float-scale)
    translateY(calc(-1 * (#{$input-hint-font-size} * #{$input-hint-float-scale} - #{math.div($field-line-height, 4) * 1em})))
    translateX(calc(((1 - #{$input-hint-float-scale}) * 1em) * #{math.clamp(0, math.ceil(strip-units($gap-x)), 1)}));
}

.input__hint,
.input__spacer {
  @include field-base;
}
.input__hint {
  position: absolute;
  z-index: $z-index-primary;
  left: 0;
  top: 0;
  pointer-events: none;
  font-size: $input-hint-font-size;
}

.input__field_float ~ .input__hint {
  will-change: transform;
  transform: scale(1);
  transform-origin: top left;
  transition: transform $transition-duration;
}
.input__field_float:focus ~ .input__hint,
.input__field_float:not(:placeholder-shown) ~ .input__hint,
.input__field_float:-webkit-autofill ~ .input__hint {
  @include input-field-transform($field-gap-x);
}

$input-error-line-height: 1.3em;
.input__error {
  display: none;
  width: 100%;
}
.input[data-display="inline"] > .input__error {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -$input-error-line-height;
}
.has-error > .input__error {
  display: block;
}

.input__spacer {
  height: 0;
  padding: 0;
  visibility: hidden;
  flex-shrink: 0;
  flex-grow: 0;
}

// Модификации
.input_1 > .input__field {
  @include field-base_1;
  @include field-skin_1;
}
.input_1 > .input__hint {
  @include field-base_1;
}
.input_1 > .input__field_float:focus ~ .input__hint,
.input_1 > .input__field_float:not(:placeholder-shown) ~ .input__hint {
  @include input-field-transform($field-gap-x_1);
}


.input_2 > .input__field {
  @include field-base_2;
  @include field-skin_2;
}
.input_2 > .input__hint {
  @include field-base_2;
}


// "Сдвиг" подсказки по умолчанию, располагается в конце для возможности переопределить стили модификаций
.input__field_float:focus,
.input__field_float:not(:placeholder-shown), {
  padding-top: calc(#{$field-gap-y} + #{$input-hint-float-shift});
  padding-bottom: calc(#{$field-gap-y} - #{$input-hint-float-shift});
}
