@use 'sass:math';

$spinner-size: 2em;

.spinner {
  @include spinner-customizer($spinner-size, $text-color);

  position: absolute;
  display: none;
  will-change: transform;
  animation: spin .4s infinite linear;
  border-radius: 50%;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body > .spinner {
  left: calc(50% - #{math.div($spinner-size, 2)});
  top: calc(50% - #{math.div($spinner-size, 2)});
}

.is-processing {
  position: relative;
}
.is-processing > .spinner {
  display: block;
}

