// Лэйаут чата
.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat__toolbar,
.chat__messages,
.chat__input {
  padding: $section-pad-generic var(--section-pad-x-generic);
}
.chat__toolbar,
.chat__input {
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  z-index: $z-index-primary + 1;
  padding-right: calc(var(--section-pad-x-generic) + #{$scrollbar-size});
  background-color: $main-bg;
}
.chat__messages {
  flex-grow: 1;
  position: relative;
  z-index: $z-index-primary;
  overflow-y: scroll;
  overflow-x: hidden;
}

// Тулбар чата
.chat__toolbar {
  display: flex;
  top: 0;
  border-bottom: 1px solid $ui-color;
}
.chat__toolbar-slot_main {
  flex-shrink: 1;
}
.chat__toolbar-slot_actions {
  margin-left: auto;
}
.chat__toolbar-slot_nav {
  margin-right: $section-pad-generic;

  @media (min-width: $narrow-screen-bp) {
    display: none !important;
  }
}

// Зона сообщений
.chat__messages-day-header,
.chat__messages-day-label {
  @include non-selectable;

  pointer-events: none;
}
.chat__messages-day-header {
  position: sticky;
  z-index: $z-index-primary + 1;
  top: 0;
  text-align: center;
}

.chat__messages-day-label {
  @include pill(transparentize($main-bg, .1));

  margin-bottom: 1.5em;
}

.chat__message {
  position: relative;
  z-index: $z-index-primary;
}

// Зона ввода
.chat__input {
  display: flex;
  align-items: flex-end;
  bottom: 0;
  border-top: 1px solid $ui-color;
}
.chat__input-slot {
  margin-right: $gap-x-generic;
}
.chat__input-slot:last-child {
  margin-right: 0;
}
.chat__input-slot_field {
  flex-grow: 1;
}

.chat__input-field {
  resize: none;
}
.chat__input-field:not(.is-overflown) {
  overflow: hidden;
}

.chat__input-field ~ .is-clone {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  visibility: hidden;
}

// Пустой чат
.chat__empty-msg {
  margin: auto;
  padding: 0 $gap-x-generic-lg;
  color: $muted-color;
  font-size: 1.2rem;
  text-align: center;
}

