/* stylelint-disable no-descending-specificity */
@use 'sass:math';

$button-height: $field-height;
$button-text-color: $white;

.button {
  @include button-reset;

  background-color: $brand-color;
  line-height: 1;
  height: $button-height;
  color: $button-text-color;
  white-space: nowrap;
  padding: 0 1.15em;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: .5em;
}
.button::-moz-focus-inner {
  border: 0;
}
.button:-moz-focusring {
  outline-width: 0;
}

.button:not(:disabled):hover,
.button:not(:disabled).focus-visible {
  background-color: darken(desaturate($brand-color, 2.66), 5.49);
}

.button:disabled {
  @include disabled;
}

.button[data-display="block"] {
  display: block;
  width: 100%;
}
.button[data-display="inline"],
.button[data-display="inline"] .button__text {
  vertical-align: baseline;
}

.button__icon > * {
  display: inline-block;
  position: relative;
  top: 0.066666667em;
}
.button__icon > svg {
  width: 1em;
  height: 1em;
}
.button__icon > svg,
.button__icon > svg path {
  fill: currentColor;
}

.button__icon,
.button__text {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: $z-index-primary;
  line-height: $button-height;
  min-height: 100%;
}

.button__icon + .button__text,
.button__text + .button__icon {
  margin-left: 0.334em;
}

// для вертикального выравнивания в строке `.button__text` всегда должен содержать текст, даже если текста нет
// вставим "zero-width space"
.button__text::after {
  content: '\200b';
}
.button__icon + .button__text:empty,
.button__text:empty + .button__icon {
  // нивелируем дефолтное расстояние между узлами текста
  margin-left: -4px;
}

.button[data-display="block"].is-processing .button__icon,
.button[data-display="block"].is-processing .button__text,
.button[data-display="block"].is-successful .button__icon,
.button[data-display="block"].is-successful .button__text,
.button[data-display="block"].is-failed .button__icon,
.button[data-display="block"].is-failed .button__text {
  opacity: 1;
}

$button-spinner-size: 1.125em;

.button::after,
.button > .request-spinner {
  position: absolute;
  right: .5em;
  top: calc(50% - #{math.div($button-spinner-size, 2)});
  width: $button-spinner-size;
  height: $button-spinner-size;
}
.button > .request-spinner {
  @include spinner-customizer($button-spinner-size, $button-text-color);
}
.button:not(.is-processing) > .request-spinner {
  display: none;
}

.button::after {
  content: '';
  background-position: 0 0;
  background-repeat: no-repeat;
}
.button.is-successful::after {
  background-image: svg-load('../assets/img/ok.svg', fill=$button-text-color);
}
.button.is-failed::after {
  background-image: svg-load('../assets/img/not-ok.svg', fill=$button-text-color);
}

.button.is-processing::after {
  display: none;
}


.button_0 {
  background-color: $muted-color;
}
.button_0:not(:disabled):hover,
.button_0:not(:disabled).focus-visible {
  background-color: darken(desaturate($muted-color, 2.66), 5.49);
}

.button_1,
.button_3 {
  background-color: transparent;
  color: $text-color;
  border-radius: $button-height;
}
.button_1:not(:disabled):hover,
.button_1:not(:disabled).focus-visible,
.button_3:not(:disabled):hover,
.button_3:not(:disabled).focus-visible {
  background-color: $ui-color;
}
.button_1.is-active {
  color: $brand-color;
}

.button_2 {
  border-radius: $button-height;
}

.button_3 {
  text-align: left;
  border-radius: 0;
}

.button_4,
.button_5,
.button_6 {
  background-color: transparent;
  color: $brand-color;
}
.button_4:not(:disabled):hover,
.button_4:not(:disabled).focus-visible,
.button_5:not(:disabled):hover,
.button_5:not(:disabled).focus-visible,
.button_6:not(:disabled):hover,
.button_6:not(:disabled).focus-visible {
  background-color: transparent;
}
.button_4:not(:disabled):hover > .button__text,
.button_4:not(:disabled).focus-visible > .button__text,
.button_5:not(:disabled):hover > .button__text,
.button_5:not(:disabled).focus-visible > .button__text,
.button_6:not(:disabled):hover > .button__text,
.button_6:not(:disabled).focus-visible > .button__text {
  text-decoration: underline;
}

.button_5,
.button_6 {
  padding-left: 0;
  padding-right: 0;
}

.button_6 {
  color: $danger-color;
}



