@use 'sass:math';

$page-back-thickness: calc(#{$button-height} + .5rem * 2);
.page {
  height: 100%;
  display: flow-root;
}
.page_scroll,
.page_centered {
  height: auto;
  min-height: 100%;
}
.page_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__centerer {
  max-width: calc(100% - #{$gap-x-generic-lg} * 2);
}
.page__content {
  margin: $gap-y-generic var(--section-pad-x-generic);
}

.page_inner {
  @media (min-width: $narrow-screen-bp) {
    padding-left: $page-back-thickness;
  }
}
.page__back {
  position: sticky;
  top: 0;
  z-index: $z-index-navigation;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: $section-pad-generic var(--section-pad-x-generic);
  border-style: solid;
  border-width: 0 0 1px;
  box-sizing: border-box;
  border-color: $ui-color;
  background-color: $ui-color-light;

  @media (min-width: $narrow-screen-bp) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: $page-back-thickness;
    border-bottom-width: 0;
    border-right-width: 1px;
    justify-content: center;
  }
}
.page__back:hover {
  background-color: $ui-color;
}



