{{! Для демонстрации всегда статично выбран одинаковый чат}}
{{#> page title=data.chats.[1].name}}
  {{> messenger currentChat=data.chats.[1]}}
  {{#> dropdown id="chat-actions-dropdown"}}
    {{> button
        _ctx
        class="js-modal-trigger"
        theme="3"
        display="block"
        text="Добавить пользователя"
        attrs=(attr
            data-target="#add-user-modal"
            onclick="this.closest('.is-visible').classList.remove('is-visible')"
        )
    }}
    {{> button
        _ctx
        class="js-modal-trigger"
        theme="3"
        display="block"
        text="Удалить пользователя"
        attrs=(attr
            data-target="#remove-user-modal"
            onclick="this.closest('.is-visible').classList.remove('is-visible')"
        )
    }}
    {{> button
        _ctx
        class="js-modal-trigger"
        theme="3"
        display="block"
        text="Удалить чат"
        attrs=(attr
            data-target="#delete-chat-modal"
            onclick="this.closest('.is-visible').classList.remove('is-visible')"
        )
    }}
  {{/dropdown}}
  {{#> modal id="add-user-modal" heading="Добавить пользователя"}}
    <form class="js-add-user" action="#">
      <div class="gap-y-gen">
        {{> input
            _ctx
            class="js-add-user__input"
            name="add-user"
            id="add-user"
            hint="Логин"
            float=1
        }}
      </div>
      <div class="gap-y-gen">
        {{> button
            _ctx
            display="block"
            type="submit"
            text="Добавить"
        }}
      </div>
    </form>
  {{/modal}}
  {{#> modal id="remove-user-modal" heading="Удалить пользователя"}}
    <form class="js-remove-user" action="#">
      <div class="gap-y-gen">
        {{> input
            _ctx
            class="js-remove-user__input"
            name="add-user"
            id="add-user"
            hint="Логин"
            float=1
        }}
      </div>
      <div class="gap-y-gen">
        {{> button
            _ctx
            display="block"
            type="submit"
            text="Удалить"
        }}
      </div>
    </form>
  {{/modal}}
  {{#> modal id="delete-chat-modal" heading="Удалить чат"}}
    <form class="js-delete-chat" action="#">
      <div class="gap-y-gen">
        <p>Хотите удалить чат?</p>
      </div>
      <div class="field-row gap-y-gen">
        {{> button _ctx class="field-row__field" text="Отмена" theme="0" attrs=(attr data-cancel="true")}}
        {{> button _ctx class="field-row__field" type="submit" text="Да"}}
        {{> button _ctx class="field-row__field" type="submit" text="Да, для всех"}}
      </div>
    </form>
  {{/modal}}

{{/page}}