{{#> page centered=1 scroll=1 title="Регистрация"}}
  {{#> auth heading="Регистрация"}}
    <div class="gap-y-xl">
      <div class="gap-y-sm">
        {{> input _ctx name="email" id="email" hint="E-mail" type="email" autocomplete="email" float=1}}
      </div>
      <div class="gap-y-sm">
        {{> input _ctx name="login" id="login" hint="Логин" autocomplete="username" float=1}}
      </div>
      <div class="gap-y-sm">
        {{> input _ctx wrapperClass="has-error" value="wrong" name="first_name" id="first_name" hint="Имя" autocomplete="given-name" float=1}}
      </div>
      <div class="gap-y-sm">
        {{> input _ctx name="last_name" id="last_name" hint="Фамилия" autocomplete="family-name" float=1}}
      </div>
      <div class="gap-y-sm">
        {{> input _ctx name="phone" id="phone" hint="Телефон" type="tel" autocomplete="tel" float=1}}
      </div>
      <div class="gap-y-sm">
        {{> input _ctx name="password" id="password" hint="Пароль" type="password" autocomplete="new-password" float=1}}
      </div>
      <div class="gap-y-sm">
        {{> input _ctx name="password_repeat" id="password_repeat" hint="Повторите пароль" type="password" autocomplete="new-password" float=1}}
      </div>
    </div>
    <div class="gap-y-xs">
      {{> button _ctx tag="a" href="./chat-initial.hbs" display="block" text="Зарегистрироваться"}}
    </div>
    <div class="gap-y-xs">
      {{> button _ctx tag="a" href="./index.hbs" display="block" theme="4" text="Войти"}}
    </div>
    <div class="gap-y-xs">
      {{> button _ctx class="js-auth__test-feature" display="block" theme="4" text="Кликни и см. консоль"}}
    </div>
  {{/auth}}
{{/page}}