{{!
  Всегда следует добавлять атрибут `_ctx` как первый аргумент при вызове — это сотрёт родительский контекст,
  и позволит использовать локально любые переменные, не боясь пересечения с глобальными.
  https://github.com/handlebars-lang/handlebars.js/issues/1032
  https://github.com/handlebars-lang/handlebars.js/issues/1550

  Если есть непустой локальный контекст, можно использовать его вместо `_ctx`
}}
<div
    class="{{class}} media"
    data-type="{{default type "image"}}"
>
  <div style="" class="media__content">
    {{#or (is type null) (is type "image")}}
      {{> img _ctx class="media__item" url=url width=width height=height}}
    {{/or}}
    {{#is type "video"}}
      <video class="media__item" src="{{url}}"></video>
    {{/is}}
  </div>
  <div class="media__ui"></div>
</div>
