<nav class="chat-list">
  <ul class="chat-list__list nolist">
    {{#each data.chats as |chatData|}}
    <li class="chat-list__list-item">
      {{#is ../currentChat.id chatData.id}}
        {{> chat-preview class="is-current" tag="div" picSize="4.375rem" chatData=chatData}}
      {{else}}
        {{> chat-preview href="./chat-view.hbs" picSize="4.375rem" chatData=chatData}}
      {{/is}}
    </li>
    {{/each}}
  </ul>
</nav>
