@use 'sass:math';

$messenger-sidebar-width: 25rem;
.messenger,
.messenger__sidebar,
.messenger__chat {
  height: 100%;
  box-sizing: border-box;
}
.messenger {

  @media (min-width: $narrow-screen-bp) {
    padding-left: $messenger-sidebar-width;
  }
}

.messenger__sidebar {
  position: fixed;
  z-index: $z-index-primary + 1;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $main-bg;
  visibility: visible;
  transform: translateX(0);
  transition: visibility $transition-duration, transform $transition-duration;
  will-change: transform, visibility;
  outline: none;

  @media (min-width: $narrow-screen-bp) {
    width: $messenger-sidebar-width;
    border-right: 1px solid $ui-color;
    box-sizing: border-box;
  }
}
.messenger__sidebar.is-closed {
  transform: translateX(-100%);
  visibility: hidden;

  @media (min-width: $narrow-screen-bp) {
    visibility: visible;
    transform: translateX(0);
  }
}

.messenger__sidebar-head {
  display: flex;
  padding: $section-pad-generic var(--section-pad-x-generic) math.div($section-pad-generic, 2);
  border-bottom: 1px solid $ui-color;
  background: $main-bg;
  flex-shrink: 0;
}
.messenger__sidebar-actions,
.messenger__sidebar-search {
  margin-bottom: math.div($section-pad-generic, 2);
}
.messenger__sidebar-actions {
  white-space: nowrap;
  margin-right: $gap-x-generic;
}
.messenger__sidebar-search {
  flex-grow: 1;
  min-width: 9.375rem;
}
.messenger__sidebar-close {
  @media (min-width: $narrow-screen-bp) {
    display: none !important;
  }
}

.messenger__sidebar-body {
  flex-grow: 1;
  overflow-y: scroll;
}

.messenger__chat {
  position: relative;
  z-index: $z-index-primary;
}