$upload-avatar-file-pad: 1.5rem;
.upload-avatar {
  text-align: center;
}
.upload-avatar__file {
  display: none;
  margin: 1rem $upload-avatar-file-pad 0 0;
  padding-left: $upload-avatar-file-pad;
  color: $muted-color;
}
.upload-avatar.is-uploading .upload-avatar__file,
.upload-avatar.is-uploaded .upload-avatar__file {
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.upload-avatar.is-uploaded .upload-avatar__file {
  background: svg-load('assets/img/icons/double-check.svg', fill=$muted-color) 0 .15em no-repeat;
}
.upload-avatar__progress {
  width: 100%;
  visibility: hidden;
}
.upload-avatar.is-uploading .upload-avatar__progress {
  visibility: visible;
}
